.parent {
    -fx-background-color: #303138;
    background-color: #303138;
}

.popup {
    -fx-background-color: #464853;
}

.close-btn {
    -fx-background-color: transparent;
}

.close-btn:hover {
    -fx-background-color: #E81123;
}

.minimize-btn {
    -fx-background-color: transparent;
}

.minimize-btn:hover {
    -fx-background-color: #171717;
}

.submit-btn {
    -fx-background-color: #0099FF;
}
